{{#partial "content"}}
    {{#if department}}
        <h1>{{department.name}}</h1>
        <hr>
        <h3>Add a section</h3>
        <form action="/dept/{{department.id}}" method="post">
            <div class="form-group">
                <label for="section">Section Name</label>
                <input class="form-control" id="section" name="section" type="text">
            </div>

            <button type="submit" class="btn btn-info">Add new section</button>
        </form>
        <hr>
    {{else}}
        <h1>Sorry, no such department. <a href="/dept/new">Go here</a> to create it!</h1>
        <hr>
    {{/if}}

    <h1>Sections</h1>
    <div class="list-group">
        {{#if sections}}
            {{#each sections}}
                <a href="#" class="list-group-item list-group-item-action list-group-item-info">

                    <p><span>{{id}}</span>&nbsp;&nbsp;{{section}}</p>
                </a>
            {{/each}}
        {{else}}
            <h3 class="list-group-item list-group-item-action list-group-item-info">No sections added</h3>
            <hr>
        {{/if}}
    </div>

{{/partial}}

{{> layout.hbs}}