{{#partial "header"}}
    <img class="header-image" src="/images/adult-communication-conference-room-1367271.jpg" width="100%">
{{/partial}}

{{#partial "content"}}
    <h1>Staff List</h1>
    <div class="list-group">
        {{#if staff}}
            {{#each staff}}
                <a href="/staff/{{id}}" class="list-group-item list-group-item-action list-group-item-info">
                    <span class="id">{{id}}</span>

                    {{name}}
                    &nbsp;&nbsp;&nbsp;
                    {{role}}
                </a>
            {{/each}}
        {{else}}
            <h4 class="list-group-item list-group-item-action list-group-item-info">No staff to display yet!</h4>
        {{/if}}
    </div>
{{/partial}}



{{> layout.hbs}}